.wfrp3-dice-tray {
  flex: 0;
  position: absolute;
  bottom: 13px;
  right: 13px;
  max-width: 350px;
  display: flex;
  
  > * {
    margin: 2px;
  }

  .wfrp3-dice-tray__buttons {
    max-width: 280px;
  }

  .wfrp3-dice-tray__stacked {
    height: 34px;
    margin-right: 2px;
  }

  .flexrow {
    flex-wrap: nowrap;
  }

  button {
    background: transparent;
    background-repeat: no-repeat;
    height: 34px;
    background-position: center;
    border: 1px solid #3e000078;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $c-white;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 0 6px inset #8d9ea7;
    transition: all ease-in-out 0.25s;
    position: relative;

    &:hover {
      color: $c-blaze;
      border-color: $c-blaze;
      box-shadow: 0 0 6px inset #ff6400;

      svg * {
        fill: $c-blaze;
      }
    }

    &.wfrp3-dice-tray__roll {
      height: 68px;
      width: 68px;
      padding: 0;
      margin: 0;
      font-family: CaslonPro;
      color: #520000;

      &:hover {
        background: $c-blaze;
        // box-shadow: 0 0 6px inset $c-blue;
        // border-color: $c-blue;
        box-shadow: none;
        color: $c-white;
      }
    }

    .wfrp3-dice-tray__flag {
      position: absolute;
      bottom: calc(100% - 2px);
      left: 0;
      right: 0;
      font-size: 14px;
      height: 18px;
      line-height: 1;
      background-color: $c-blaze;
      color: $c-white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px 4px 0 0;
      max-height: 18px;
      transition: all ease-in-out 0.15s;

      &:hover,
      &:focus {
        background-color: $c-blaze;
        color: $c-white;
      }

      &.hide {
        max-height: 0;
      }
    }
  }

  .wfrp3-dice-tray__input {
    font-family: CaslonPro;
    display: block;
    color: $c-white;
    font-weight: bold;
    font-size: 18px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #520000;
    background-color: rgba(250, 250, 250, 0.15);
    border: 1px solid #3e000078;
    box-shadow: 0 0 6px inset #fff;

    &:hover,
    &:focus {
      border: 1px solid $c-blaze;
      box-shadow: 0 0 6px inset #ff6400;
    }
  }
}